* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.search {
    text-align: center;
}

input {
    width: 45%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 2.1875em;
    font-family: 'Marvel', sans-serif;
    color: slategrey;
    font-size: 1.125em;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#no-results{
    font-family: 'Marvel', sans-serif;
    font-size: 1.25em;;
}

img {
       border-radius: 3px;
}

.img-padding {
    padding: 2em;
}
